{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<table>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prix</th>
        <th>Description</th>
        <th>Category</th>
        <th>tags</th>
    </tr>
    {% for product in products %}
        <tr>
            <th>product.id</th>
            <th>product.name</th>
            <th>product.price</th>
            <th>product.description</th>
            <th>product.category</th>
            <th>product.tags</th>
        </tr>
    {% endfor %}
</table>
{% endblock %}
